<nav>
    <ul class="nav-tabs">
        <li class="tab active"><a href="/myapp/page1" data-tab="page1">{{ page1 }}</a></li>
        <li class="tab"><a href="/myapp/page2" data-tab="page2">{{ page2 }}</a></li>
        <li class="tab"><a href="/myapp/page3" data-tab="page3">{{ page3 }}</a></li>
    </ul>
</nav>
<div id="page-content" data-target="page-content"></div>
